{% extends "layout.html" %}

{% block body %}

<main class="row home">


          <!-- <img class="homeimg" src= "images/download (1).jpg" alt="Home page image">  -->
          <!-- <img class="homeimg col-lg-12 col-md-12 col-sm-12 col-xs-12" src= "images/download (1).jpg" alt="Home page image">  -->
          <div class="demo col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="/static/images/download.jpg" alt="back_image" class="demo1">
          <div class="demo2">
            <br><br><br><br>
            <h3>
              Move your things in a smart way!
            </h3>


           <br><br><br><br><br>
          </div>


          </div>
          <span>&nbsp;</span>
           <h3 id='test'> Testimonials</h3>
            <br>

            <q id='quote'> Smart hand trucks offer the best carts for transporting goods inside your apartment! I would highly recommend them.</q> - Jane Doe
            <br>
            <br>

            <q id='quote'> They make a very reliable and sturdy product. I have had my hand truck for over 2 years.</q> - Mark Moose
            <br>
            <br>

            <q id='quote'> I had never thought of getting a hand truck for transporting my things. I am glad I did the hand truck has eliminated me from having to make multiple trips</q> - John Paul
            <br>
            <br>
            <br>

        </main>

        <footer class="row navbar-fixed-bottom" >
            CONTACT: +1(567)567-3455 | xyz@companyid.com | Oregon, USA
        </footer>



{% endblock %}